body {
  height: 100%;
  width: 100%;
    background-color:white;
    color:black;
}
body.dark-mode {
    background-color:#262c3b;
    height:100%;
    width:100%;
    color:white;
}
h1{
    font-size:40px;
    padding:0px;
  
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
headder{
    background-color:#248f6b;
    
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #248f6b;
  font-family: Arial;
}
.navbar.dark-mode {
    overflow: hidden;
    background-color: #8208c4;
    font-family: Arial;
}
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #a0edee;
    color:black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e6cff2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #dff9fb;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button2 {
  background-color: #bc2f2f;
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

 hr.new1 {
     border: 20px solid #248f6b;
 }
.button3 {
    background-color: #248f6b; 
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.button3:hover{
    background-color:#a0edee;
    color:black;
}
.button1:hover{
    background-color:#48994b;
}
.button2:hover{
    background-color:#8a2424;
}
h1{
    text-align:center;
    font-size:30px;
}

footer{
position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#248f6b;
   color: white;
   text-align: center;
}
